p {
    font-size:14;
    color:black;
    font: "font: 15px Arial, sans-serif;"
}

p.speech {
    font: "font: 15px Arial, sans-serif;"
}

p.stage-direction{
    background-color: grey;
}

p.stage-direction:hover{
    background-color:lightgreen;
    color:orange;
}

h5.MARQ
{
    color: lightsalmon;
}

h5.Count
{
    color: lime;

}

h5.Petro
{
    color: maroon;
}

h5.Raff
{
    color: mediumvioletred;
}

h5.Kotemk
{
    color: navy;
}

h5.Gen
{
    color: purple;
}

table,td,th
{ 
    border: solid 1px ;
    text-align: center;
    width: 30%;
    color: black;
    padding: 10px;
    margin: 20px;
}

tr:nth-child(even) {
    background-color:#ccc;
  }
h5.MARQ:hover{
    color:purple;
    text-shadow:2px 5px 6px green;
    border: blue;
    filter: blur(3px);
}
h5.Gen:hover{
    color:yellowgreen;
    text-shadow:2px 5px 6px green;
    border:red;
    filter: blur(3px);
}
h5.Count:hover{
    color:yellow;
    text-shadow:2px 5px 6px grey;
    border:green;
    filter: blur(3px);
}
